

<template name="home">
    <h1>Connect</h1>
    <ul>
        <li><a href="/" > Sign Up/ Sign In / Forgot Password</a></li>
        <li><a href="/" > Profile creation with Sign up</a></li>
        <li><a href="/" > Create request/offer/both </a></li>
        <li> <a href="/" > Manage request - Edit, Delete, Cancel </a></li>
        <li> <a href="/" > Connect - Connect, Manual Connect by Admin, Rating </a></li>
        <li> <a href="/" > Notifications </a></li>
        <li> <a href="/" > Informational Details Update </a></li>
        <li> <a href="/" > Informational Details View </a></li>
        <li> <a href="/" > Analytics </a></li>
        <li> <a href="/" > Search People </a></li>
        <li> <a href="/" > Phone, Video Call, Chat </a></li>
        <li> <a href="/" > Settings </a></li>
        <li> <a href="/" > Contact us - Raise complaint </a></li>
        <li> <a href="/" > Admin - Authentication/ Blacklisting</a></li>
        <li> <a href="/loadAid" > Admin - Add Aid</a></li>
        <li> <a href="/" > STANDOUT?? </a></li>
    </ul>

</template>